main
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    padding: 3px;

    flex-grow: 1;

    transition: background .4s;
}

.desktop-wrapper
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
}

.desktop-item
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    max-width: 80px;
    min-width: 80px;

    padding: 4px;

    cursor: default;
    transition: all .4s;
}

/* div.shortcut-wrapper::before
{
    content: '—';
    position: relative;
    bottom: 0;
    right: 0;
    background-color: greenyellow;
} */

.desktop-item.active
{
    outline: 1px solid grey;
    background-color: rgba(87, 87, 87, 0.603);
    transition: all .4s;
}

.desktop-item:hover, .desktop-item.active {
    outline: 1px solid grey;
    background-color: rgba(87, 87, 87, 0.603);
    transition: all .4s;
}

/* Иконки */
.desktop-item .folder,
.desktop-item .txt,
.desktop-item .shortcut,
.desktop-item .bin,
.desktop-item .settings
{
    width: 50px;
    height: 50px;
    display: block;
}

.desktop-item .folder::selection,
.desktop-item .txt::selection,
.desktop-item .shortcut::selection,
.desktop-item .bin::selection,
.desktop-item .file-name::selection
{
    background-color: rgba(0, 0, 0, 0);
}

/* название файла */
.file-name
{
    font-size: 13px;
    text-align: center;
    color: #fff;
}
.file-name.editing {
    width: 100%;
    display: block;
    resize: vertical;
    color: #000;

    cursor: text;
}