footer
{
    background-color: rgba(0, 0, 0, 0.9);
    height: 4vh;
    width: 100vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 1000000;
}

section.left-side-footer, section.right-side-footer
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

section.right-side-footer
{
    flex-flow: row-reverse nowrap;
}

.task-panel-program
{
    height: 100%;
}

.task-panel-program__button {
    background-color: transparent;
    border: none;
    outline: none;

    padding: 0 14px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    transition: background-color .2s;
}

.task-panel-program__button:hover
{
    background-color: var(--task-panel-item-hover-color);
}

.task-panel-program__button.active {
    background-color: var(--task-panel-item-hover-color);
}
.task-panel-program__button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--win-blue-color);

    opacity: 0;

    transition: opacity .3s;
}
.task-panel-program__button.opened::after {
    opacity: 1;
}

.program-icon
{
    width: 20px;
    display: block;
}

.program-icon.search
{
    transform: scaleX(-1);
}

div.tray-panel-empty-block
{
    border-left: 1px solid grey;
    width: 8px;
    height: 100%;
    /* padding: 0 5px; */

    margin-left: 8px;
    transition: all .2s;
}

div.tray-panel-empty-block:hover
{
    background-color: rgba(143, 143, 143, 0.4);
    transition: all .2s;
    cursor: default;
}

div.tray-panel-programm 
{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 0.45em;
    transition: all .2s;
}

div.tray-panel-programm:hover
{
    background-color: rgba(143, 143, 143, 0.4);
    transition: all .2s;
    cursor: default;
}

div.time
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

span.time, span.date, span.current-language
{
    color: #fff;
}

span.time, span.date
{
    font-size: 0.8rem;
}

span.current-language
{
    font-size: 0.8rem;
}

/* Меню пуск */
.start-menu {
    position: absolute;
    background-color: red;
    left: 0;
    top: 0;
    transform: translateY(-100%);

    height: 0;
    overflow: hidden;

    /*min-height: 20vh;*/
    min-width: 10vw;

    transition: height .3s;
}
.start-menu.opened {
    height: 20vh;
    overflow-y: auto;
}